@import "tailwindcss";


:root { color-scheme: dark; }
* { box-sizing: border-box; }
body { margin: 0; font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Arial, Noto Sans, "Apple Color Emoji","Segoe UI Emoji"; }
a { color: inherit; }

/* global.css or component css */
.page {
  display: flex;
  flex-direction: column;
  height: 100%; /* full viewport height */
  margin: 0;
}

.page > main {
  flex: 1; /* take remaining space after NavBar */
  display: flex;
  flex-direction: column;
}
